section{
    border: 1px solid #ccc;
    width: 70vw;
    background-color: cornflowerblue;
    margin: 40px auto;   /* auto means it will take equal margin from left and right */
    padding: 16px;
   /* font-family: Arial, Helvetica, sans-serif; */
   font-family: 'Roboto', sans-serif; 
   font-weight: 400;
   font-style: italic;
   line-height: 2;
   letter-spacing: 0.2em;


   /*
    Short Hand Notation
   font: italic small-caps bold 16px 2 Arial, Helvetica, sans-serif;
   */

}

p{
    font-size: 20px;
    font-weight: lighter;        /*font-weight means width of letter, range vary from 100 t0 900; where 100=light,400=normal,700=bold */

}

h1{
    text-align: center;
    font-size: 40px;
    color:white ;
    text-shadow: 5px 5px 1px red, 9px 9px 2px purple;
}

/*Text-shadow: xoffset,yoffset,blur-radius,color*/